@model ProyectoResidencial.Models.Recepcion
@{
    ViewBag.Title = "Detalle Recepción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li class="breadcrumb-item active">Detalle Recepción</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-book"></i> Detalle Recepción
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card col-md-11 mt-3 mb-3" style="margin: auto auto">
                <h5 class="card-title font-weight-bold">Resumen de la Habitación</h5>
                <hr class="mt-1 mb-1" />
                <div class="col-md-12">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <label for="numero" class="form-label">Número: </label>
                            <label class="col-form-label"> @Html.DisplayTextFor(model => model.Habitacion.Numero)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="detalle" class="form-label">Detalles: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Habitacion.Detalle)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="categoria" class="form-label">Categoria: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Habitacion._categoria.Descripcion)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="piso" class="form-label">Piso: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Habitacion._piso.Descripcion)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="numero" class="form-label">Cliente: </label>
                            <label class="col-form-label">
                                @Html.DisplayTextFor(model => model.Usuario.Nombre) @Html.DisplayTextFor(model => model.Usuario.Apellido)
                            </label>
                        </div>

                        <div class="col-md-6">
                            <label for="detalle" class="form-label">Rut: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Usuario.Rut)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="categoria" class="form-label">Correo: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Usuario.Correo)</label>
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="piso" class="form-label">Fecha entrada: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Fecha_entradaS)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-md-11 mt-2 mb-2" style="margin: auto auto">
                <h5 class="card-title font-weight-bold">Detalle de Hospedaje</h5>
                <hr class="mt-1 mb-1" />
                <div class="col-md-12">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <label for="txtPrecio">Costo habitación:</label>
                            <input type="text" class="form-control" id="txtPrecio" name="precio" value="@Html.DisplayTextFor(model => model.Precio_inicial)" disabled>
                        </div>

                        <div class="col-md-3">
                            <label for="txtAbono">Abonado:</label>
                            <input type="text" class="form-control" id="txtAbono" name="abono" value="@Html.DisplayTextFor(model => model.Abono)" disabled>
                        </div>

                        <div class="col-md-3">
                            <label for="txtPrecioRestante">Por pagar:</label>
                            <input type="text" class="form-control" id="txtPrecioRestante" name="precioRestante" value="@Html.DisplayTextFor(model => model.Precio_restante)" disabled>
                        </div>

                        <div class="col-md-3 mb-4">
                            <label for="txtFechaSalida">Fecha salida:</label>
                            <input type="text" class="form-control" id="txtFechaSalida" name="fechaSalida" value="@Html.DisplayTextFor(model => model.Fecha_salidaS)" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-11 mt-2 mb-2" style="margin: auto auto">
                <h5 class="card-title font-weight-bold">Servicio a la Habitación</h5>
                <hr class="mt-1 mb-1" />

                <table id="tabla" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Estado Venta</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Venta != null)
                            {
                                foreach (var venta in Model.Venta)
                                {
                                    foreach (var detalleventa in venta.detalles)
                                    {
                                        <tr>
                                            <td>@detalleventa._producto.Nombre</td>
                                            <td>@detalleventa.Cantidad</td>
                                            <td>@detalleventa._producto.Precio</td>
                                            <td>
                                                @{
                                                    if (venta.Estado == "Cancelado")
                                                    {
                                                        <span class="badge bg-success">@venta.Estado</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-danger">@venta.Estado</span>
                                                    }
                                                }
                                            </td>
                                            <td>@detalleventa.SubTotal</td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-secondary border-0" role="alert">
                                            No se encontraron registros
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
