@model ProyectoResidencial.Models.Habitacion

@{
    ViewBag.Title = "Recepción Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li class="breadcrumb-item active">Registro Recepción</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-book"></i> Registro
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card col-md-11 mt-3 mb-3" style="margin: auto auto">
                <h5 class="card-title font-weight-bold">Detalles de la Habitación</h5>
                <hr class="mt-1 mb-1" />
                <div class="col-md-12">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <input type="hidden" value="@Html.DisplayTextFor(model => model.Habitacion_id)" id="txtIdHabitacion" />
                            <label for="numero" class="form-label">Número: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Numero)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="detalle" class="form-label">Detalles: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model.Detalle)</label>
                        </div>

                        <div class="col-md-6">
                            <label for="categoria" class="form-label">Categoria: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model._categoria.Descripcion)</label>
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="piso" class="form-label">Piso: </label>
                            <label class="col-form-label">@Html.DisplayTextFor(model => model._piso.Descripcion)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-md-11 mt-2 mb-2" style="margin: auto auto">
                <h5 class="card-title font-weight-bold">Detalle Cliente</h5>
                <hr class="mt-1 mb-1" />
                <div class="col-md-12">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <label for="txtRut">Rut:</label>
                            <input type="hidden" id="txtIdCliente" value="0" />
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtRut" name="rut" autocomplete="off" required />
                                <button class="btn btn-success" id="btnbuscar" type="button">Buscar</button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="cboTipoDocumento">Tipo Documento:</label>
                            <select class="form-select" id="cboTipoDocumento">
                                <option value="Carnet">Carnet</option>
                                <option value="Carnet extranjero">Carnet extranjero</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="txtNombre">Nombre:</label>
                            <input type="text" class="form-control" id="txtNombre" name="nombre" autocomplete="off" required />
                        </div>

                        <div class="col-md-6">
                            <label for="txtApellido">Apellido:</label>
                            <input type="text" class="form-control" id="txtApellido" name="apellido" autocomplete="off" required />
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="txtCorreo">Correo:</label>
                            <input type="email" class="form-control" id="txtCorreo" name="correo" autocomplete="off" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-md-11 mt-2 mb-2" style="margin: auto auto">
                <h5 class="card-title font-weight-bold">Detalle Reservación</h5>
                <hr class="mt-1 mb-1" />
                <div class="col-md-12">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <label for="txtRut">Fecha entrada:</label>
                            <input type="text" class="form-control" id="txtFechaInicio" name="fechaInicio" autocomplete="off" disabled />
                        </div>

                        <div class="col-md-6">
                            <label for="cboTipoDocumento">Fecha salida:</label>
                            <input type="text" class="form-control" id="txtFechaSalida" name="fechaSalida" autocomplete="off" />
                        </div>

                        <div class="col-md-6">
                            <label for="txtPrecio">Precio:</label>
                            <input type="text" class="form-control" id="txtPrecio" name="precio" value="@Html.DisplayTextFor(model => model.Precio)" disabled />
                            <input type="hidden" class="form-control" id="txtPrecioBase" value="@Html.DisplayTextFor(model => model.Precio)" disabled />
                        </div>

                        <div class="col-md-6">
                            <label for="txtAbono">Abono:</label>
                            <input type="text" class="form-control" id="txtAbono" name="abono" value="0" autocomplete="off" />
                        </div>

                        <div class="col-md-6">
                            <label for="txtObservacion">Observación:</label>
                            <textarea class="form-control" rows="4" id="txtObservacion" name="observacion" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-2 mb-4 col-6">
                        <button type="button" class="btn btn-primary" id="btnRegistrar">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clienteModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Lista de Clientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user-friends"></i> Listado de Clientes
                </div>
                <div class="card-body">
                    <hr />
                    <table id="tablalector" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Rut</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onClick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var tabla
        $(document).ready(function () {
            tabla = $('#tablalector').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    "url": '@Url.Action("ListarUsuarios", "Gestion")',
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {
                        return json.data.filter(function (item) {
                            return item.TipoUsuario.Tipo_usu_id == 3;
                        });
                    }
                },
               "columns": [
                    {
                        "data": "Usuario_id", "render": function (data, type, row, meta) {
                            return $("<button>").addClass("btn btn-primary btn-select-cliente btn-sm").append(
                                $("<i>").addClass("fas fa-check")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML
                            //return '<button class="btn btn-primary btn-select-cliente btn-sm" data-informacion="' + data + '"><i class="fas fa-check"></i></button>'
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    },
                    { "data": "Rut" },
                    { "data": "Nombre" },
                    { "data": "Apellido" },
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }
           });

            $("#txtFechaInicio").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date())
            $("#txtFechaSalida").datepicker({
                dateFormat: 'dd/mm/yy', 'minDate': new Date(),
                onSelect: function (dateText, inst) {

                    var dateParts1 = dateText.split("/");
                    // meses empieza desde 0, por eso restamos dataParts[1] - 1
                    var fechafin = new Date(dateParts1[2], dateParts1[1] - 1, dateParts1[0]);

                    var dateParts2 = $("#txtFechaInicio").val().split("/");
                    // meses empieza desde 0, por eso restamos dataParts[1] - 1
                    var fechaInicio = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                    var diaEnMils = 1000 * 60 * 60 * 24;
                    var dias = (fechafin.getTime() - fechaInicio.getTime()) / diaEnMils;

                    var preciofinal = parseInt($("#txtPrecioBase").val()) * (dias +1)

                    $("#txtPrecio").val(preciofinal);
                }
            }).datepicker('setDate', new Date());
        });

        $("#btnbuscar").on("click", function () {
            tabla.ajax.reload();
            $("#clienteModal").modal("show")
        })

        $(document).on('click', '.btn-select-cliente', function (event) {
            var json = $(this).data("informacion")
            $("#txtIdCliente").val(json.Usuario_id)
            $("#txtRut").val(json.Rut)
            $("#cboTipoDocumento").val(json.Tipo_documento)
            $("#txtNombre").val(json.Nombre)
            $("#txtApellido").val(json.Apellido)
            $("#txtCorreo").val(json.Correo)
            $("#clienteModal").modal("hide")
        });

        $("#btnRegistrar").on("click", function () {
            var request = {
                recepcion: {
                    Usuario: {
                        Usuario_id: $("#txtIdCliente").val(), Tipo_documento: $("#cboTipoDocumento").val(), Rut: $("#txtRut").val(),
                        Nombre: $("#txtNombre").val(), Apellido: $("#txtApellido").val(), Correo: $("#txtCorreo").val()
                    },
                    Habitacion: { Habitacion_id: $("#txtIdHabitacion").val() },
                    Fecha_salidaS: $("#txtFechaSalida").val(),
                    Precio_inicialS: $("#txtPrecio").val(),
                    AbonoS: $("#txtAbono").val(),
                    Precio_restanteS: parseInt($("#txtPrecio").val()) - ($("#txtAbono").val() == "" ? 0 : parseInt($("#txtAbono").val())),
                    Observacion: $("#txtObservacion").val()
                }
            }

            swal({
                title: "¿Desea confirmar la recepción?",
                text: "Escoja una opción",
                type: "warning",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                setTimeout(function () {
                    jQuery.ajax({
                        url: '@Url.Action("RegistrarRecepcion", "Gestion")',
                        type: "POST",
                        data: JSON.stringify(request),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                window.location.href = "@Url.Action("Recepcion", "Gestion")";
                            } else {
                                swal("Lo sentimos", "No se  pudo completar el registro", "warning");
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                }, 1000);
            });
        })
    </script>
}

